<!DOCTYPE html>
<html layout:decorator="layouts/main">

<head></head>
<th:block layout:fragment="metas">
	<meta charset="ISO-8859-1">
	<title>Change Password</title>
</th:block>

<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="animated fadeIn">
				<div class="row">
					<div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 ">
						<div class="card card-accent-primary bg-transparent mt-3 border-left-0 border-right-0 border-bottom-0 card-shadow">
							<div class="card-header bg-light border-bottom-0 border-secondary d-flex pb-2">
								<h5 class="d-inline-block mb-0 mt-1 _text-primary font-weight-bold"><i class="fa fa-user"></i>&nbsp; Change Password</h5>
							</div>

							<div class="card-block bg-white py-4">

								<form class="custom-form" id="changePasswordForm" name="changePasswordForm" method="post" th:action="@{/changePassword}" enctype="multipart/form-data" th:object="${changePasswordForm}" autocomplete="off">
									<div class="container">
										<div class="row">
											<div class="form-group col-sm-12">
												<label for="oldPassword">Old Password<span class="text-danger">*</span></label>
												<input type="password" class="form-control" name="oldPassword" id="oldPassword" />
												<div class="text-danger" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></div>
											</div>
										</div>


										<div class="row">
											<div class="form-group col-sm-12">
												<label for="newPassword">New Password<span class="text-danger">*</span></label>
												<input type="password" class="form-control" name="newPassword" id="newPassword" data-toggle="tooltip" title="Password must have length between 8 to 20, and It must have uppercase letter,lowercase letter and one digit and one special character in ! @ # $ % ^ & *" />
												<div class="text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">State Name Error</div>
											</div>
										</div>

										<div class="row">
											<div class="form-group col-sm-12">
												<label for="reTypeNewPassword">Re Type New Password<span class="text-danger">*</span></label>
												<input type="password" class="form-control" name="reTypeNewPassword" id="reTypeNewPassword" data-toggle="tooltip" title="Password must have length between 8 to 20, and It must have uppercase letter,lowercase letter and one digit and one special character in ! @ # $ % ^ & *" />
												<div class="text-danger" th:if="${#fields.hasErrors('reTypeNewPassword')}" th:errors="*{reTypeNewPassword}">State Name Error</div>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-md-6">
												<div align="center">
													<button type="button" class="btn btn-outline-primary" onclick="goBack()">Cancel</button>
												</div>
											</div>
											<div class="form-group col-md-6">
												<div align="center">
													<button type="submit" class="btn btn-primary" id="submit" onclick="javascript:return validateDetails();">Update</button>
												</div>
											</div>
										</div>
									</div>
								</form>

							</div>
						</div>
					</div>
                    <!-- col-md-6 offset-md-3 col-sm-8 offset-sm-2 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.animated.fadeIn -->
		</div>
		<!--/.main .container-fluid -->

	</div>
	<!-- END FRAGMENT :: "content"-->
</body>
<script>
	$(document).ready(function() {
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>

</html>
