<!DOCTYPE html>
<html layout:decorator="layouts/main">
<head></head>
<th:block layout:fragment="metas">
	<meta charset="ISO-8859-1">
	<title>Current Type Master</title>
</th:block>
<th:block layout:fragment="styles">
	<style>
_table.dataTable.table-sm>thead>tr>th.sorting {
	padding-left: 20px !important;
}
</style>
</th:block>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="animated fadeIn">
				<div class="row">
					<div class="col-lg-12 col-xl-10 offset-xl-1">
						<div
							class="card  card-accent-primary bg-transparent mt-3 mb-0 border-left-0 border-right-0 border-bottom-0 card-shadow ">
							<div
								class="card-header bg-light border-bottom-0 border-secondary d-flex pb-2">
								<h5
									class="d-inline-block mb-0 mt-1 font-weight-bold header-title text-primary">Current
									Type Master</h5>
								<button
									class="btn btn-sm btn-outline-primary d-inline-block ml-auto mt-1"
									role="button" aria-pressed="false" data-toggle="modal"
									data-target="#modalBlank" data-placement="top"
									th:attr="data-url=@{/currentTypeForm}">
									<i class="fa fa-plus"></i> Add </button>
							</div>


							<div class="card-body py-0 bg-white"
								style="_min-height: calc(100vh - 130px); width: 100%;">
								<div class="table-responsive _px-3">
									<table id="currentTypeMasterTable"
										class=" table compact table-bordered table-hover table-striped table-sm mb-0"
										cellspacing="0" width="100%">

										<thead class="table-primary">
											<tr>
												<th>S.NO.</th>
												<th>Name</th>
												<th>Short Name</th>
												<th class="text-center">Enable</th>
												<th class="text-center">Edit</th>
											</tr>
										</thead>
										<tbody>


												<tr th:each="anItem, iterStat : ${currentTypeList}">
													<td><span th:text="${iterStat.count}"></span></td>
													<td><span th:text="${anItem.currentName}"></span></td>
													<td><span th:text="${anItem.currentShortName}"></span></td>
													<td align="center"><label
														class="switch switch-xs switch-text mt-1 switch-success actionSwitch"
														th:attr="data-id=${anItem.id}" data-toggle="tooltip"
														data-placement="top" title=""> <input
															type="checkbox" class="switch-input"
															th:checked="${anItem.isActive}"> <span
															class="switch-label" data-on="On" data-off="Off"></span>
															<span class="switch-handle"></span>
													</label></td>

													<!-- <td align="center"><span
														th:if="${anItem.isActive}==false"> </span> <span
														th:if="${anItem.isActive}==true"> <a
															class="btn btn-sm btn-link text-primary" role="button"
															aria-pressed="false" data-toggle="modal"
															data-target="#modalBlank" data-placement="top"
															th:attr="data-url=@{'/currentTypeEdit/{id}'(id=${anItem.id})}">
																<span data-toggle="tooltip" data-placement="top"
																title="Edit"> <i class="fa fa-lg fa-edit"></i></span>
														</a>
													</span></td> -->
													
													<td>
														<span th:if="${anItem.isActive}==false"></span>
														
														<span th:if="${anItem.isActive}==true">
															<a class="btn btn-sm btn-link text-primary" role="button"
															aria-pressed="false" data-toggle="modal"
															data-target="#modalBlank" data-placement="top"
															th:attr="data-url=@{'/currentTypeEdit/{id}'(id=${anItem.id})}">
																<span data-toggle="tooltip" data-placement="top"
																title="Edit"> <i class="fa fa-lg fa-edit"></i></span>
														</a>
														</span>
														
													</td>

												</tr>

										</tbody>
									</table>

								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<th:block layout:fragment="scripts">
		<script>
			$(document)
					.ready(
							function() {
								var table = $('#currentTypeMasterTable')
										.DataTable(
												{
													language : {
														search : "_INPUT_",
														searchPlaceholder : "Search...",
														"lengthMenu" : "_MENU_",
														paginate : {
															previous : '<i class="fa fa-chevron-left"></i>',
															next : '<i class="fa fa-chevron-right"></i>'
														},
														aria : {
															paginate : {
																previous : 'Previous',
																next : 'Next'
															}
														}
													},
													"dom" : "<'wrapper top'<'row'<'col-sm-4'i><'col-sm-8 d-flex  justify-content-end 'fBl>>>t<'wrapper bottom'<'row'<'col-sm-4'i><'col-sm-8 d-flex  justify-content-end 'p>>>",
													responsive : {
														details : {
															type : 'column',
															target : 'tr'
														}
													},
													paging : true,
													"pagingType" : "full_numbers",
													lengthChange : true,
													"lengthMenu" : [
															[ 10, 25, 50, -1 ],
															[ 10, 25, 50, "All" ] ],
													//"lengthMenu": [ [-1, 10, 25, 50 ], ["All", 10, 25, 50 ] ],
													columns : [ {
														width : '1%',
														targets : 0
													}, {
														_width : '10%',
														targets : 1
													}, {
														_width : '90%',
														targets : 2
													}, {
														width : '1%',
														targets : 3,
														"orderable" : false,
														className : "px-1"
													}, {
														width : '1%',
														targets : 4,
														"orderable" : false,
														className : "px-1"
													} ],
													buttons : [
															{
																extend : 'copyHtml5',
																text : '<i class="fa fa-files-o"></i>',
																titleAttr : 'Copy',
																exportOptions : {
																	columns : [
																			0,
																			1,
																			2,
																			3 ]
																}
															},
															{
																extend : 'excelHtml5',
																text : '<i class="fa fa-file-excel-o"></i>',
																titleAttr : 'Excel',
																exportOptions : {
																	columns : [
																			0,
																			1,
																			2,
																			3 ]
																}
															},
															{
																extend : 'csvHtml5',
																text : '<i class="fa fa-file-text-o"></i>',
																titleAttr : 'CSV',
																exportOptions : {
																	columns : [
																			0,
																			1,
																			2,
																			3 ]
																}
															},
															{
																extend : 'pdfHtml5',
																text : '<i class="fa fa-file-pdf-o"></i>',
																titleAttr : 'PDF',
																exportOptions : {
																	columns : [
																			0,
																			1,
																			2,
																			3 ]
																}
															},
															{
																extend : 'print',
																text : '<i class="fa fa-print"></i>',
																titleAttr : 'print',
																exportOptions : {
																	columns : [
																			0,
																			1,
																			2,
																			3 ]
																}
															} ],
													fixedHeader : {
														header : true,
														headerOffset : 48
													}
												});

								$('table')
										.on(
												'click',
												'.actionSwitch',
												function(e) {
													var $this = $(this);
													var $input = $this
															.find('.switch-input');
													var message = $input
															.prop("checked") ? "Do you want to Disable?"
															: "Do you want to Enable?";
													e.preventDefault();
													e.stopPropagation();
													bootbox
															.confirm({
																message : message,
																buttons : {
																	confirm : {
																		label : 'Yes',
																		className : 'btn-primary'
																	},
																	cancel : {
																		label : 'No',
																		className : 'btn-outline-primary'
																	}
																},
																callback : function(
																		result) {
																	var context = "[[@{/}]]";
																	var isChecked = $input
																			.prop("checked")
																	var url = isChecked ? "currentTypeInActive"
																			: "currentTypeActive";
																	var id = $this
																			.data('id');
																	console
																			.log('This was logged in the callback: '
																					+ result);
																	if (result) {
																		$
																				.get(
																						context
																								+ url
																								+ '/'
																								+ id
																								+ '/',
																						function() {
																							$input
																									.prop(
																											'checked',
																											!isChecked);
																						});
																	}
																}
															});
												});

								$(".dataTables_length select")
										.removeClass(
												"form-control form-control-sm")
										.addClass(
												"custom-select custom-select-sm");
							});
			/*function onSwitch(id,status)= {

			}*/
		</script>
	</th:block>
</body>
</html>
