<style>
    @media (min-width: 768px){
        .modal-lg {
            max-width: 500px;
        }
    }
</style>
<div class="modal-header">
	<h5 class="modal-title">Edit Designation Details</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"><i class="icon-close"></i></span>
	</button>
</div>

<div class="modal-body">
	<form id="designationForm" class="custom-form" method="POST" th:action="@{'/designationEdit/{id}/'(id=${id})}" th:object="${designationForm}">
		
		<th:block th:if="${statusMessage != null}">
            <div th:replace="fragments/components :: alert (type='success', message=${statusMessage})">Alert</div>
        </th:block>
        
		<div class="form-row">
			<div class="form-group col-sm-12">
				<label for="designationname" class="col-form-label col-form-label-sm">Designation <span class="text-danger">*</span></label>
				<input type="text" class="form-control form-control-sm"  th:field="*{designationname}" onkeypress="javascript:return alphabetsAndSpacesOnly(event);" onchange="trimValue(this);" 
					 value="Desigantion" required="required" >
				<div class="text-danger" th:if="${#fields.hasErrors('designationname')}" th:errors="*{designationname}">designation name Error</div>
			</div>

		</div>
	</form>
</div>

 
