<style>
    @media (min-width: 768px){
        .modal-lg {
            max-width: 400px;
        }
    }
</style>
<div class="modal-header">
	<h5 class="modal-title">Edit KPI Duration Details</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"><i class="icon-close"></i></span>
	</button>
</div>

<div class="modal-body">
	<form id="kpiDurationForm" class="custom-form" method="POST" th:action="@{'/kpiDurationEdit/{id}/'(id=${id})}"  th:object="${kpiDurationForm}"  autocomplete="off">

		 <th:block th:if="${statusMessage != null}">
            <div th:replace="fragments/components :: alert (type='success', message=${statusMessage})">Alert</div>
        </th:block>
        <th:block th:if="${failureMessage != null}">
            <div th:replace="fragments/components :: alert (type='danger', message=${failureMessage})">Alert</div>
        </th:block>

		<div class="form-row">

			<div class="form-group col-sm-12">
				<label for="financialYear" class="col-form-label col-form-label-sm">Financial Year <span class="text-danger">*</span></label>
				<input type="text" class="form-control form-control-sm" name="financialYear" id="financialYear" th:field="*{financialYear}" readonly="readonly">
				<div class="text-danger" th:if="${#fields.hasErrors('financialYear')}" th:errors="*{financialYear}">financialYear Error</div>
			</div>

			<div class="form-group col-sm-12">
		    <label for="startDate" class="col-form-label col-form-label-sm">Start Date<span class="text-danger">*</span></label>
		   <input type="text" class="form-control form-control-sm datePicker datePickerClassStartDate" id="startDate" name="startDate" th:field="*{startDate}">
		    <div class="text-danger" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">Start Date Error</div>
		  </div>

		  <div class="form-group col-sm-12">
		    <label for="endDate" class="col-form-label col-form-label-sm">End Date<span class="text-danger">*</span></label>
		   <input type="text" class="form-control form-control-sm datePicker datePickerClassEndDate" id="endDate" name="endDate" th:field="*{endDate}">
		    <div class="text-danger" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">End Date Error</div>
		  </div>

		</div>
	</form>
</div>

<script type="text/javascript">
//var startDate = $('startDate').val();
//var end = new Date(parseInt(yearsArr[1]),2,31);
$("input.datePickerClassStartDate").daterangepicker({
	parentEl: ".modal .modal-body",
	//singleDatePicker: true,
	//minDate: moment(),
	// 	format: 'yyyy-mm-dd,
	 locale: {
	      format: 'DD/MM/YYYY'
	    },
	showDropdowns: false,
	"singleDatePicker": true,
    "autoApply": true,
    "autoUpdateInput": false,
    "showDropdowns": true,
    "minDate": "[[${minDate}]]",
    "maxDate": "[[${maxDate}]]"
	});


$("input.datePickerClassEndDate").daterangepicker({
	parentEl: ".modal .modal-body",
	//singleDatePicker: true,
	//minDate: moment(),
	//format: 'yyyy-mm-dd,
	 locale: {
	      format: 'DD/MM/YYYY'
	    },
	showDropdowns: false,
	"singleDatePicker": true,
    "autoApply": true,
    "autoUpdateInput": false,
    "showDropdowns": true,
    "minDate": "[[${minDate}]]",
    "maxDate": "[[${maxDate}]]"
	});

$('input.datePicker').on('apply.daterangepicker', function(ev, picker) {
    $(this).val(picker.startDate.format('DD/MM/YYYY'));

});

$('input.datePicker').on('cancel.daterangepicker', function(ev, picker) {
    $(this).val('');
});


</script>
