<!DOCTYPE html>
<html layout:decorator="layouts/main">

<head>
    <title th:text="#{view.index.title}">Welcome!</title>
</head>
<body class="app header-fixed sidebar-fixed sidebar-minimized aside-menu-fixed _aside-menu-off-canvas aside-menu-hidden">
<div layout:fragment="content">
			<!-- Breadcrumb -->
			<ol class="breadcrumb mb-3">

				<li class="breadcrumb-item active">Settings123</li>

			</ol>


			<!--			<h1 class="tab_title text-muted"><i class="icon-speedometer"></i> Dashboard</h1>-->
			<div class="container-fluid">
				<div class="animated fadeIn">
					<div class="row">
					<div class="col-sm-3">
					<div class="card w-100">
							<div class="card-header">
								<p class="mb-0"> Setting Menu</p>
							</div>
							<div class="card-block p-0">
                                <ul class="nav flex-column">
                                      <li class="nav-item">
                                        <a class="nav-link active" href="#">Summary</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" href="#">Edit Project</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" href="#">Notifications</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" href="#">Columns</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" href="#">Categories</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" href="#">Custom roles</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" href="#">Close this project</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" href="#">Delete this project</a>
                                      </li>
                                </ul>
							</div>
						</div>
					</div>
					<div class="col-sm-9">
					<div class="card w-100" style="min-height: 400px;">

						<div class="card-block p-0"></div>
						</div>
						</div>

					</div>
				</div>

			</div>
			<!-- /.conainer-fluid -->

</div>
<!-- main-fragment-->


<th:block layout:fragment="scripts">


</th:block>
</body>

</html>
