@CHARSET "ISO-8859-1";

/*
.callout{
     background: white;
}

.bg-cgg-warning{
	background: #f1711c!important;


}

.bg-cgg-warning.btn-sm{
	padding:.25rem .30rem .25rem .35rem !important;
	border-color : #f1711c!important;
}


.table-sm td, .table-sm th {
    padding: .3rem!important;

}

.app-header.navbar .navbar-brand{
    width: 100%;
    max-width: 300px;
    background-image: url(../img/logo.png);
    background-size: contain;
    border-right: 1px solid #c2cfd6;
    background-position: 10px 50%;
}

.pace-running > *:not(.pace) {
          opacity:0;
          pointer-events: none!important;
        }

.pace.pace-active {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background: #f5f5f5 url(../img/loading.gif) no-repeat center center;
    background-size: 50px 50px;
    z-index: 99999999!important;
    pointer-events: none!important;
    cursor: not-allowed!important;
}
.pace.pace-active:hover{
    pointer-events: none!important;
        cursor: not-allowed!important;
}

body * {
	background-color:black!important;
	color:white!important;
}
*/
body {
        background: rgba(0, 0, 0, 0.13);
}

.app-header.navbar, .app-header.navbar .navbar-brand {
    background-color: #29363d!important;
}

.ogr_name span {
    font-weight: 500!important;
    color: #fff;
    font-size: 20px;
}

.logger-name {
    color:  #fff;
}
.sidebar {
    /*background: #006824;*/
}

footer.app-footer   {
    /*background-color: rgb(1, 81, 28)!important;*/
}

footer.app-footer  h6.text-primary, footer.app-footer .text-primary  {
   /* color: #fff!important;*/
        font-weight: 500!important;
}

.sidebar {
    background: rgb(242, 242, 242);
}

.navbar .sidebar .dropdown-toggle i, .sidebar .nav-link i, .sidebar .navbar .dropdown-toggle i {
    color: #3d6fb2;
}

.navbar .sidebar .dropdown-toggle, .sidebar .nav-link, .sidebar .navbar .dropdown-toggle  {
     color: #000;
}

.navbar .sidebar .nav-dropdown.open .dropdown-toggle, .sidebar .nav-dropdown.open .nav-link, .sidebar .nav-dropdown.open .navbar .dropdown-toggle {
    color: #000;
    border-left: 0!important;
}

.navbar .sidebar .dropdown-toggle:hover, .sidebar .nav-link:hover, .sidebar .navbar .dropdown-toggle:hover {
    color: #fff;
    background: #3d70b229;
}

.navbar .sidebar .dropdown-toggle, .sidebar .nav-link, .sidebar .navbar .dropdown-toggle {
    color: #000;
}
