body {
    background: rgba(235, 108, 52, 0.13);
}

.app-header.navbar, .app-header.navbar .navbar-brand {
    background-color: #eb6c34!important;
}

.ogr_name span {
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}
.logger-name {
    color:  #fff;
}

.sidebar {
    /*background: #006824;*/
}

footer.app-footer   {
    /*background-color: rgb(1, 81, 28)!important;*/
}

footer.app-footer  h6.text-primary, footer.app-footer .text-primary  {
   /* color: #fff!important;*/
        font-weight: 500!important;
}
