body{
    background: rgba(0,0,0,0.7);
    color: black!important;
}
.app-header.navbar, .app-header.navbar .navbar-brand {
    height: 50px;
    background-color: #373739;
    border-bottom: 1px solid #ffffff;
}
.sidebar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    color: #060606;
    background: #ffffff;
}

.sidebar a{

}

.navbar .sidebar .dropdown-toggle, .sidebar .nav-link, .sidebar .navbar .dropdown-toggle {
    display: block;
    padding: .75rem 1rem;
    color: #3d6fb2;
    text-decoration: none;
    background: transparent;
}

.navbar .sidebar .dropdown-toggle i, .sidebar .nav-link i, .sidebar .navbar .dropdown-toggle i {
    color: #3d6fb2;
}

.sidebar .nav-dropdown.open ul.nav-dropdown-items {
    background: rgb(255, 255, 255);
    border-left: 0px solid #41d6c3!important;
}

.navbar .sidebar .nav-dropdown.open .dropdown-toggle, .sidebar .nav-dropdown.open .nav-link, .sidebar .nav-dropdown.open .navbar .dropdown-toggle {
    color: #3d6eb1;
    border-left: 0!important;
}

.navbar .sidebar .nav-dropdown.open .dropdown-toggle, .sidebar .nav-dropdown.open .nav-link, .sidebar .nav-dropdown.open .navbar .dropdown-toggle {
    color: #3d6eb1;
    border-left: 0!important;
}

.sidebar .nav-dropdown.open ul.nav-dropdown-items:before
.sidebar .nav-dropdown.open ul.nav-dropdown-items:before {
    border-left: 0px solid #ffffff!important;
    background: #3d6db2!important;
}
.sidebar .nav .nav-item .nav-link {
    border-bottom: 1px solid rgba(58, 56, 56, 0.1);
}

.table-primary, .table-primary>td, .table-primary>th {
    background-color: #ffffff;
    color: black;
}
card *{
    color: black!important;
}
