<div class="modal-header">
	<h5 class="modal-title"><i class="fa fa-folder-open"></i> New Group</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true"><i class="icon-close"></i></span>
					</button>
</div>
<div class="modal-body">
	<form id="newProjectForm" method="POST" th:action="@{/groupForm}">
		<div class="row">
			<div class="form-group col-sm-12">
				<label for="name">Name <span class="text-danger">*</span></label>
				<input type="text" class="form-control" name="name" id="name" maxlength="100" placeholder="Enter group name">
			</div>

		</div>
	</form>
</div>
