<style>
    @media (min-width: 768px){
        .modal-lg {
            max-width: 500px;
        }
    }
</style>
<div class="modal-header">
	<h5 class="modal-title"><!--<i class="fa fa-tasks"></i> -->Edit Department</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"><i class="icon-close"></i></span>
	</button>
</div>
<div class="modal-body">
	<form class="custom-form" name="departmentForm" id="departmentForm" method="post" th:action="@{'/editDepartmentDetails/{id}/'(id=${id})}" 
	 th:object="${departmentMasterForm}"  autocomplete="off" >
	  <th:block th:if="${statusMessage != null}">
            <div th:replace="fragments/components :: alert (type='success', message=${statusMessage})">Alert</div>
      </th:block>
        
	  <div class="form-row">
	  
	  
	  <div class="form-group col-md-12">
	    <label class="col-form-label col-form-label-sm" for="stateMaster">State111<span class="text-danger">*</span></label>
	    <select id="stateMaster"  name="stateMaster" class="custom-select custom-select-sm">
	    	<option value="0">--Select State--</option>
	    	
				 
				<th:block th:object="${statesList}">
										<p th:each="anItem : ${statesList}">
										<option  th:value="${anItem.id}" th:selected="(${anItem.id} == ${stateID1})"><span th:text="${anItem.statename}"></span></option>

										</p>
					</th:block>
	    </select>
	    <div class="text-danger" th:if="${#fields.hasErrors('stateMaster')}" th:errors="*{stateMaster}">State Error</div>
	  </div>
	    
	  <div class="form-group col-md-12">
	    <label class="col-form-label col-form-label-sm" for="departmentid">Department Id<span class="text-danger">*</span></label>
	    <input type="text" class="form-control form-control-sm" id="departmentid" name="departmentid" th:field="*{departmentid}">
	      <span id="departmentspanid" class="text-danger"></span>
	    <div class="text-danger" th:if="${#fields.hasErrors('departmentid')}" th:errors="*{departmentid}">State Error</div>
	  </div>
	  </div>
	   <div class="form-row">
	  <div class="form-group col-md-12">
	    <label class="col-form-label col-form-label-sm" for="departmentname">Department Name<span class="text-danger">*</span></label>
	    <input type="text" class="form-control form-control-sm latterUpperCase" id="departmentname" name="departmentname" th:field="*{departmentname}" onkeypress="javascript:return alphabetsAndSpacesOnly(event);" onchange="trimValue(this);" _onkeyup="toUpper(this);">
	     <div class="text-danger" th:if="${#fields.hasErrors('departmentname')}" th:errors="*{departmentname}">State Error</div>
	  </div>
	   <div class="form-group col-md-12">
	    <label class="col-form-label col-form-label-sm" for="departmentshortname">Department Short Name<span class="text-danger">*</span></label>
	    <input type="text" class="form-control form-control-sm latterUpperCase" id="departmentshortname" name="departmentshortname" th:field="*{departmentshortname}" onkeypress="javascript:return alphabetsAndSpacesOnly(event);" onchange="trimValue(this);" _onkeyup="toUpper(this);">
	     <span id="departmentshortnamespan" class="text-danger"></span>
	    <div class="text-danger" th:if="${#fields.hasErrors('departmentshortname')}" th:errors="*{departmentshortname}">State Error</div>
	  </div>
	  </div>
<!-- 	  <button type="submit" class="btn btn-primary"  id="submit" onclick="javascript:return validate();">Submit</button> -->
	</form>
</div>

   
<script>

	 var context = "[[@{/}]]";
	
	 var token = $("meta[name='_csrf']").attr("content");
	 var header = $("meta[name='_csrf_header']").attr("content");
	 
	$( "#departmentid" ).on('input' ,function() {
		$("#departmentspanid").html("");
		$("#modalBlank .modal-footer button.btn.btn-primary").removeAttr("disabled");
		var DepartmentId = $( "#departmentid" ).val();
		if(DepartmentId ==null || DepartmentId == ""  ){
			return false; 
		}else if(parseInt(DepartmentId) == 0){
			alert("Invalid Department ID");
			$( "#departmentid" ).val("");
			return false;
		}
		 $.ajax ({
					type: "POST",
					url: context + "checkDepartmentIDExist/"+DepartmentId+"/",
					beforeSend: function(xhr){xhr.setRequestHeader(header, token);},
					success: function(html) {
						if(html == "Y"){
							$("#modalBlank .modal-footer button.btn.btn-primary").attr("disabled", "disabled");
							$("#departmentspanid").html("Department ID: "+DepartmentId+" already exists");
						}else{
							$("#modalBlank .modal-footer button.btn.btn-primary").removeAttr("disabled");
						}
					} 
		}); 
	
	});
	
	
	$( "#departmentshortname" ).on('input' ,function() {
		$("#departmentshortnamespan").html("");
		$("#modalBlank .modal-footer button.btn.btn-primary").removeAttr("disabled");
		var departmentshortname = $( "#departmentshortname" ).val();
		if(departmentshortname ==null || departmentshortname == ""  ){
			return false; 
		}
		 $.ajax ({
					type: "POST",
					url: context + "checkDepartmentShortNameExist/"+departmentshortname+"/",
					beforeSend: function(xhr){xhr.setRequestHeader(header, token);},
					success: function(html) {
						if(html == "Y"){
							$("#modalBlank .modal-footer button.btn.btn-primary").attr("disabled", "disabled");
							$("#departmentshortnamespan").html("Department Short Name: "+departmentshortname.toUpperCase()+" already exists");
						}else{
							$("#modalBlank .modal-footer button.btn.btn-primary").removeAttr("disabled");
						}
					} 
		}); 
	
	});
	
	</script>
	
	<script type="text/javascript" >
$(document).ready(function(){
    $('#submit').click(function(){
	     var stateid=$("#stateMaster").val();
	     var departmentid=$("#departmentid").val();
	     var departmentname=$("#departmentname").val();
	     var departmentshortname=$("#departmentshortname").val();
	     if(stateid==null || stateid==0)
    	 {
			alert("Please select state");  
			$("#stateMaster").focus();
			return false;
    	 }
	     if(departmentid==null || departmentid.trim()=="" )
    	 {
			alert("Please Enter Department Id");  
			$("#departmentid").focus();
			return false;
    	 }
	     if(departmentname==null || departmentname.trim()=="" )
    	 {
			alert("Please Enter Department Name");  
			$("#departmentname").focus();
			return false;
    	 }
	     if(departmentshortname==null || departmentshortname.trim()=="" )
    	 {
			alert("Please Enter Department Short Name");  
			$("#departmentshortname").focus();
			return false;
    	 }
        return true;
    }) 
    var max_chars = 10;

	$("#departmentid").keyup(function() {

		$("#departmentid").val(this.value.match(/[0-9]*/));

		if ($(this).val().length >= max_chars) {

		        $(this).val($(this).val().substr(0, max_chars));

		    }
	});
})
</script>
	
	