<html layout:decorator="layouts/main" xmlns="http://www.w3.org/1999/html">

<head></head>
<th:block layout:fragment="metas">
    <meta charset="ISO-8859-1">
    <title>Minutes of Meeting</title>
</th:block>

<th:block layout:fragment="styles">
    <style>
        .btn {

            _border-width: 2px;
        }
        h6[role="button"]{
            cursor: pointer;
        }
    </style>
</th:block>

<body class="app header-fixed sidebar-fixed sidebar-minimized aside-menu-fixed _aside-menu-off-canvas aside-menu-hidden" onload="javascript:getEmployeeDesgination('recordedBy', 'recordedByDesignation');">
<div layout:fragment="content">

    <div class="container-fluid px-3">
        <div class="animated fadeIn">
            <div class="row">
	            <div class="col-md-12">
                    <div class="card card-accent-primary bg-transparent mt-3 border-left-0 border-right-0 border-bottom-0 card-shadow">

                        <div class="card-header bg-light border-bottom-0 border-secondary d-flex pb-2">
                            <h5
                                class="d-inline-block mb-0 mt-1 _text-primary font-weight-bold">Minutes of Meeting View</h5>
                             
<!--                              <ol class="breadcrumb px-2">
                             <li class="breadcrumb-menu">
								<div style="margin-top: 4px;" class="btn-group" role="group"
								aria-label="Button group with nested dropdown">
                             	
								
								</div>
							</li>
							
							</ol>
 -->	
							<a  class="btn btn-lg btn-secondary bg-transparent" target="_blank" th:href="@{'/printMOMDetails/{id}'(id=${id})}">
								<i class="icon-printer"></i> &nbsp;print
							</a>	                            

                        	<button
                                class="btn btn-sm btn-outline-primary d-inline-block ml-auto mt-1"
                                onclick="goBack()"> <i class="fa fa-chevron-left"></i>
                                Back
                            </button>
                        </div>                        
                        
                        <!--<div class=""></div>-->
                            <div class="card-block bg-white py-4 ">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <form class="custom-form" id="momMasterForm" method="post" name="momMasterForm" th:action="@{'/updateMomDetails/{id}/'(id=${id})}" enctype="multipart/form-data"
                                        	th:object="${momMasterForm}" autocomplete="off">
											<input type="hidden" name="submitType" id="submitType"></input> 
                                            <div class="card card-block p-0 border-0 mb-0" id="momContent">


                                                <!--###### Minutes of Meeting Details ######-->
                                                <div class="card border-primary">

                                                        <h6 role="button"	class="mb-0 text-inverse formTitle font-weight-bold text-primary"
                                                               style="width: auto;" data-toggle="collapse" data-target="#section-1" aria-expanded="false" aria-controls="collapseExample">1.Details</h6>

                                                    <section id="section-1" class="show">
                                                        <div id="meetingDetails" class="card-block pt-0" style="border-color: grey;">
                                                            <div class="form-row">
                                                            
                                                            <div class="form-group col-lg-2 col-md-3">
                                                                <label class="col-form-label col-form-label-sm">Meeting Type:</label>
                                                                <span  th:if="${momMasterForm.internalMeeting == false}">External</span>
                                                                <span  th:if="${momMasterForm.internalMeeting == true}">Internal</span>
                                                            </div>
                                                            <div class="form-group col-lg-2 col-md-3">
                                                                <label class="col-form-label col-form-label-sm"  >Is New Meeting:</label>
                                                                <span  th:if="${momMasterForm.newMeeting == false}">No</span>
                                                                <span  th:if="${momMasterForm.newMeeting == true}">Yes</span>
                                                            </div>
                                                            
                                                            
                                                             <div class="form-group col-lg-8 col-md-6" id="search" th:if="${momMasterForm.newMeeting == false}" >
                                                                     <label class="col-form-label col-form-label-sm" for="recordedBy">Previous MOM Number:</label>
                                                                     <span th:text="${momMasterForm.prevMomMaster.momNumber}"></span>
                                                                            
                                                              </div>
                                                            </div>
                                                            <div class="form-row">
                                                            <div class="form-group col-lg-2 col-md-3">
                                                                <label class="col-form-label col-form-label-sm"  for="meetingVenue">Meeting Venue</label>
                                                                <div th:text="${momMasterForm.meetingVenue}"></div>
                                                            </div>
                                                            <div class="form-group col-lg-4 col-md-3">
                                                                <label class="col-form-label col-form-label-sm"  for="purpose">Meeting Subject</label>
                                                                <div th:text="${momMasterForm.purpose}"></div>
                                                                
                                                            </div>
															
                                                            
                                                            <div class="form-group col-lg-2 col-md-3 mb-0">
                                                                <label class="col-form-label col-form-label-sm"  for="conductedBy">Meeting conducted by</label>
                                                                <div th:text="${momMasterForm.conductedBy}"></div>
                                                                
                                                            </div>
                                                            <div class="form-group col-lg-2 col-md-3" th:if="${momMasterForm.conductedByDesignation!=null and !momMasterForm.conductedByDesignation.isEmpty() }">
                                                                            <label class="col-form-label col-form-label-sm" for="conductedByDesignation">Designation</label>
                                                                           <div  th:text="${momMasterForm.conductedByDesignation}"></div>
                                                                            
                                                              </div>
															
															 <div class="form-group col-lg-2 col-md-3">
                                                                <label class="col-form-label col-form-label-sm"  for="organization">Organization</label>
                                                                <div th:text="${momMasterForm.organization}"></div>
                                                            </div>
                                                            
															
                                                            <div class="form-group col-lg-2 col-md-3">
                                                                <label class="col-form-label col-form-label-sm" for="startTime">Meeting start time</label>
                                                                <div th:text="${#temporals.format(momMasterForm.startTime, 'dd/MM/yyyy HH:mm a')}"></div>
                                                            </div>
                                                            <div class="form-group col-lg-2 col-md-3">
                                                                <label class="col-form-label col-form-label-sm" for="endTime">Meeting End time</label>
                                                                <div th:text="${#temporals.format(momMasterForm.endTime, 'dd/MM/yyyy HH:mm a')}"></div>
                                                            </div>
															
															<div class="form-group col-lg-2 col-md-3">
                                                                    <label class="col-form-label col-form-label-sm" for="recordedBy">Recorded By</label>
                                                                    <div>
                                                                    	 <span th:text="${momMasterForm.recordedBy.employeefirstname}"></span>&nbsp;<span th:text="${momMasterForm.recordedBy.employeelastname}"></span>
                                                                    </div>
                                                                         
                                                              </div>
															  
                                                              <div th:if="*{momDocumentGeneratedName!=null and !momDocumentGeneratedName.isEmpty()}" class="form-group col-lg-2 col-md-3">
                                                                	<label class="col-form-label col-form-label-sm" for="endTime">Attachment<span class="text-danger"></span></label><br/>
                                                                	<input type="hidden" name="oldDocument" id='oldDocumnet' th:value="*{momDocumentOriginalName}"></input>
                                                                	<a target="_blank" th:href="@{'/loadMomDoc/{id}/'(id=*{momDocumentGeneratedName})}"><span th:text="*{momDocumentOriginalName}"></span> </a>
                                                                
                                                           	  </div>
                                                              <div th:if="*{approvedDocumentGeneratedName!=null and !approvedDocumentGeneratedName.isEmpty()}" class="form-group col-lg-2 col-md-3">
                                                                	<label class="col-form-label col-form-label-sm" for="endTime">Approved Attachment<span class="text-danger"></span></label><br/>
                                                               		 <a target="_blank" th:href="@{'/loadMomDoc/{id}/'(id=*{approvedDocumentGeneratedName})}"><span th:text="*{approvedDocumentOriginalName}"></span> </a>
                                                                
                                                          	</div>
                                                              
                                                            
                                                            
                                                           
                                                        </div><!--# meetingDetails > .form-row -->
                                                    </div>
                                                </section><!-- # section-1-->
                                            </div><!-- .card one-->


                                            <!--###### Paticipants ######-->
                                                <div class="card border-primary">

                                                        <h6 role="button"	class="mb-0 text-inverse formTitle font-weight-bold text-primary"
                                                               style="width: auto;" data-toggle="collapse" data-target="#section-2" aria-expanded="false" aria-controls="collapseExample">2. List of Participants</h6>


                                                    <section id="section-2" class="show">
                                                        <div class="card-block pt-0" style="border-color: grey;">
                                                            <div id="participantsDetails">
                                                            	<span th:if="${momParticipantsList}!=null">
																<table id="participantsDetails" class="compact table table-hover table-bordered table-responsive-sm table-sm  mb-0" cellspacing="0" width="100%">
																	<thead class="thead-table">
																		<tr>
																			<th>S.No</th>
																			<th>Participant</th>
																			<th>Designation</th>
																			<th>Organization</th>
																			<th>Mobile</th>
																			<th>e-Mail</th>
																		</tr>
																	</thead>
																	<tbody>
																		<th:block  th:object="${momParticipantsList}" >
																			<tr  th:each="anItem, iterStat : ${momParticipantsList}">
																				<td th:text="${iterStat.count}"></td>
																				<td>
																					<span th:if="${anItem.participantName!=null and  !anItem.participantName.isEmpty()}" th:text="${anItem.participantName}" ></span>
																					<span th:if="${anItem.participantName==null }">N/A</span>
																				</td>
																				<td>
																					<span th:if="${anItem.designation!=null and  !anItem.designation.isEmpty()}" th:text="${anItem.designation}" ></span>
																					<span th:if="${anItem.designation==null }">N/A</span>
																				</td>
																				<td>
																					<span th:if="${anItem.organizationName!=null and  !anItem.organizationName.isEmpty()}" th:text="${anItem.organizationName}" ></span>
																					<span th:if="${anItem.organizationName==null or anItem.organizationName==''}">N/A</span>
																				</td>
																				<td>
																					<span th:if="${anItem.mobileNumber!=null and  !anItem.mobileNumber.isEmpty()}" th:text="${anItem.mobileNumber}" ></span>
																					<span th:if="${anItem.mobileNumber==null}">N/A</span>
																				</td>
																				<td>
																					<span th:if="${anItem.email!=null and  !anItem.email.isEmpty()}" th:text="${anItem.email}" ></span>
																					<span th:if="${anItem.email==null  }">N/A</span>
																					
																				</td>
																			</tr>
																		</th:block>
																	</tbody>
																</table>
																</span>
                                                                    

                                                            </div>
                                                        </div>

                                                    </section>
                                                </div>
                                                
                                                 <div class="card border-primary">
                                                <h6 role="button"	class="mb-0 text-inverse formTitle font-weight-bold text-primary"
                                                       style="width: auto;" data-toggle="collapse" data-target="#section-2" aria-expanded="false" aria-controls="collapseExample">3. Deliberations  & Decisions</h6>
                                                   <section id="section-2" class="show">
                                                       <div class="card-block pt-0" style="border-color: grey;">
                                                          <div class="form-row" >
                                                              <div class="form-group col-md-6 col-lg-6">
                                                                  <label class="col-form-label col-form-label-sm" for="deliberations">Deliberation</label>
                                                                   <div th:text="${momMasterForm.deliberations}"></div>
                                                              </div>
                                                              <div class="form-group col-md-6 col-lg-6">
                                                                  <label class="col-form-label col-form-label-sm" for="desicions">Decisions</label>
 																	<div th:text="${momMasterForm.desicions}"></div>
                                                              </div>
                                                          </div>
                                                        </div>
                                                   </section>
                                                </div>
                                                
                                                
  		   										<!--##### Action Points of Previous Meeting ######-->
												<span th:if="${prevDiscussions}!=null">
													
												   <div class="card border-primary">

                                                        <h6 role="button"	class="mb-0 text-inverse formTitle font-weight-bold text-primary"
                                                               style="width: auto;" data-toggle="collapse" data-target="#section-3" aria-expanded="false" aria-controls="collapseExample"> Action points of previous meeting (if applicable)</h6>

                                                    <section id="section-3" class="show">

                                                            <div class="card-block pt-0" style="border-color: grey;">
                                                            <div class="form-group" id="prevMeetingDetails">
                                                            <div id="prevMeetingDetails">
                                                            
                                                            <table id="CurrentMmeetingDetails" class="compact table table-hover table-bordered table-responsive-sm table-sm  mb-0" cellspacing="0" width="100%">
																	<thead class="thead-table">
																		<tr>
																			<th>S.No</th>
																			<th>Action needed</th>
																			<th>Responsible Person</th>
																			<th>Designation</th>
																			<th>Target date</th>
																		</tr>
																	</thead>
																<tbody>
																	<th:block th:object="${prevDiscussions}">
																		<tr th:each="anItem , iterStat : ${prevDiscussions}">
																			<td th:text="${iterStat.count}"></td>
																			<td>
																				<span th:if="${anItem.pointsDiscussed!=null and  !anItem.pointsDiscussed.isEmpty()}" th:text="${anItem.pointsDiscussed}" ></span>
																				<span th:if="${anItem.pointsDiscussed==null }">N/A</span>
																			</td>
																			<td>
																				<span th:if="${anItem.responsibilityName!=null and  !anItem.responsibilityName.isEmpty()}" th:text="${anItem.responsibilityName}" ></span>
																				<span th:if="${anItem.responsibilityName==null }">N/A</span>
																			</td>
																			<td>
																				<span th:if="${anItem.designation!=null and  !anItem.designation.isEmpty()}" th:text="${anItem.designation}" ></span>
																				<span th:if="${anItem.designation==null }">N/A</span>
																			
																			</td>
																			<td>
																				<span th:if="${anItem.targetDate!=null}"  th:text="${#temporals.format(anItem.targetDate, 'dd/MM/yyyy')}"></span>
																				<span th:if="${anItem.targetDate==null }">N/A</span>
																				
																			</td>
																		</tr>
																	</th:block>
																</tbody>
															</table>
                                                            
                                                            </div>
                                                            </div>
                                                         

                                                    </section>
                                                </div> 
												</span>
                                       
                                            


                                            <!--###### Discussions Held Meeting ######-->
                                                <div class="card border-primary">


                                                        <h6 role="button"	class="mb-0 text-inverse formTitle font-weight-bold text-primary"
                                                               style="width: auto;" data-toggle="collapse" data-target="#section-4" aria-expanded="false" aria-controls="collapseExample">4. Discussions Held In the Meeting</h6>

                                                    <section id="section-4" class="show">

                                                    <div class="card-block pt-0" style="border-color: grey;">
                                                        <div id="discussions">
                                                        <span th:if="${momDiscussionsList}!=null">
                                                        	<table id="participantsDetails" class="compact table table-hover table-bordered table-responsive-sm table-sm  mb-0" cellspacing="0" width="100%">
																	<thead class="thead-table">
																		<tr>
																			<th>S.No</th>
																			<th>Action needed</th>
																			<th>Responsible Person</th>
																			<th>Designation</th>
																			<th>Target date</th>
																			<th>Status<span class="text-danger" th:if="${isToAllowUpdateStatus == true}" >*</span></th>
																		</tr>
																	</thead>
																<tbody>
																	<th:block th:object="${momDiscussionsList}">
																		<tr th:each="anItem , sNo : ${momDiscussionsList}">
																			<td th:text="${sNo.count}"></td>
																			<td>
																				<span th:if="${anItem.pointsDiscussed!=null and  !anItem.pointsDiscussed.isEmpty()}" th:text="${anItem.pointsDiscussed}" ></span>
																				<span th:if="${anItem.pointsDiscussed==null }">N/A</span>
																			</td>
																			<td>
																				<span th:if="${anItem.responsibilityName!=null and  !anItem.responsibilityName.isEmpty()}" th:text="${anItem.responsibilityName}" ></span>
																				<span th:if="${anItem.responsibilityName==null }">N/A</span>
																			</td>
																			<td>
																				<span th:if="${anItem.designation!=null and  !anItem.designation.isEmpty()}" th:text="${anItem.designation}" ></span>
																				<span th:if="${anItem.designation==null }">N/A</span>
																			
																			</td>
																			<td>
																				<span th:if="${anItem.targetDate!=null }"  th:text="${#temporals.format(anItem.targetDate, 'dd/MM/yyyy')}"></span>
																				<span th:if="${anItem.targetDate==null }">N/A</span>
																				
																			</td>
																			<td>
			                                                                        	
			                                                                         <div  th:if="${ isToAllowUpdateStatus == true and ( ( anItem.responsibility != null and anItem.responsibility.id ==  #authentication.getPrincipal().getEmployeeMaster().getId() ) 
                                                                      									or  ( anItem.responsibility ==null and recordedById == #authentication.getPrincipal().getEmployeeMaster().getId() ) )
                                                                      				
                                                                      						  		and
                                                                      				
                                                                      					      		( anItem.momStatusMaster == null or ( anItem.momStatusMaster != null and anItem.momStatusMaster.id != 5 ) )
                                                                      				
                                                                      						}">
		                                                                      				 
			                                                                        		<input type="hidden" th:attr="name='momDiscussions[' + ${sNo.count-1} + '].id',id='momDiscussions_id'+${sNo.count-1}+'', value=${anItem.id}" ></input>
			                                                                                <select th:if="${anItem.momStatusMaster !=null}" style="margin:4px;" th:attr="name='momDiscussions[' + ${sNo.count-1} + '].momStatusMaster',id='momDiscussions_momStatusMaster'+${sNo.count-1}+''" class="custom-select custom-select-sm">
			                                                                                   <option value="0">--Select Status--</option>
			                                                                                   <option th:each="status : ${momStatusMastersList}"  th:value="${status.id}" th:selected="(${status.id} == ${anItem.momStatusMaster.id})">
			                                                                                       <span th:text="${status.momStatus}" ></span>
			                                                                                   </option>
			                                                                               </select>
				                                                                         
			                                                                                <select th:if="${anItem.momStatusMaster == null}" style="margin:4px;" th:attr="name='momDiscussions[' + ${sNo.count-1} + '].momStatusMaster',id='momDiscussions_momStatusMaster'+${sNo.count-1}+''" class="custom-select custom-select-sm">
			                                                                                   <option value="0">--Select Status--</option>
			                                                                                   <option th:each="status : ${momStatusMastersList}"  th:value="${status.id}" >
			                                                                                       <span th:text="${status.momStatus}" ></span>
			                                                                                   </option>
			                                                                               </select>
			                                                                         </div>
						                                                           
						                                                           
						                                                           <div   th:if="${anItem.responsibility != null && anItem.responsibility.id !=  #authentication.getPrincipal().getEmployeeMaster().getId()}" >
			                                                                       <div  th:if="${anItem.momStatusMaster==null}" >
			                                                                       		Not Updated
			                                                                       </div>
			                                                                       
			                                                                        <div  th:if="${anItem.momStatusMaster!=null && anItem.momStatusMaster.id != 5}" >
			                                                                       		<div th:text="${anItem.momStatusMaster.momStatus}"></div>
			                                                                       </div>
			                                                                       </div>  
			                                                                        <div  th:if="${anItem.momStatusMaster!=null && anItem.momStatusMaster.id == 5}" >
			                                                                       		Closed
			                                                                       </div>
			                                                                      <!--  <div  th:if="${anItem.momStatusMaster!=null && anItem.momStatusMaster.id != 5}" >
			                                                                       		<div th:text="${anItem.momStatusMaster.momStatus}"></div>
			                                                                       </div> -->
																					
																					<!-- <div th:if="${isToAllowUpdateStatus == false and !(anItem.momStatusMaster!=null && anItem.momStatusMaster.id == 5) }">
																						Not yet updated
																					</div> -->
																			
																			</td>
																		</tr>
																	</th:block>
																</tbody>
																</table>
														
                                                         </span><!-- end of condtion check of discussions -->
                                                    </div>
	                                                    
                                                    </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div><!-- #momContent -->
                                        <div class="card-footer bg-white py-2 w-100" th:if="${isToAllowUpdateStatus == true}">
                                            <div class="row">
                                                <div class="col-md-12 text-right">
                                                	<input type="hidden" th:value="${discussionsCount}" id="addDis"></input>
                                                    <button style="width: 130px;" type="button" class="btn btn-sm btn-primary" id="updateStatus" >Submit</button>
                                                </div>
                                            </div>
                                        </div>


                                    </form>
                                    </div>
                                </div><!-- .card-block .form-row -->

                            </div><!-- .card-block .bg-white .py-4-->

                    </div><!-- .card -->
		        </div><!-- .col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.animated.fadeIn -->
    </div><!--/.main .container-fluid -->

</div>
<!-- END FRAGMENT: "content" -->


<th:block layout:fragment="scripts">
	<script>
	$(document).ready(function(){
		
		function validateData()
		{
			
			var dis=$("#addDis").val();
			for(var i=0;i<dis;i++)
			{
				var status=$("#momDiscussions_momStatusMaster"+i);
				//alert(status.val());
				if(status.val()!=undefined && (status.val()==null || status.val()=="" || status.val()=="0" ))
				{
					alert("please choose satus to update")
					status.focus();
					return false;
				}
				//return true;
			}
			return true;
		}
		
		
		$("#updateStatus").click(function(){
			
			//$("#submitType").val("saveOrDraft");
			var flag = validateData();
			if(flag && confirm("Do you want to update the status?")){
				$("#momMasterForm").submit();
			}
			
		});
		
		
		

	});
	</script>

</th:block>

</body>
</html>

