<!DOCTYPE html>
<html layout:decorator="layouts/main">
<head></head>
<th:block layout:fragment="metas">
	<meta charset="ISO-8859-1">
	<title>eFile Inbox</title>
</th:block>

<th:block layout:fragment="styles">

	<style>
.border-top-success.active, .border-top-danger.active, .border-top-info.active,
	.border-top-warning.active {
	font-weight: bold;
}

.border-top-success.active {
	border-top: 2px solid #4dbd74 !important;
	color: #4dbd74 !important;
}

.border-top-danger.active {
	border-top: 2px solid red !important;
	color: red !important;
}

.border-top-warning.active {
	border-top: 2px solid #ffc107 !important;
	color: #ffc107 !important;
}

.border-top-info.active {
	border-top: 2px solid #63c2de !important;
	color: #63c2de !important;
}

.border-top-success.active, .border-top-danger.active, .border-top-info.active,
	.border-top-warning.active {
	font-weight: bold;
	position: relative;
    z-index: 999;
    border-top: 2px solid #3d70b2 !important;
    color: #3d70b2 !important;
}

.tab-content .tab-pane {
	padding: 1px;
}


/*
Access denied message styles
*/
#accesdenied {
  background-color: lightgray;
  border-radius: 10px;
  margin: auto;
  width: 50%;
  cursor: not-allowed;
  margin-top: 10%;
}
#accessdeniedhead {
  padding-top: 30px;
  font-size: 60px;
  font-family: Arial;
  text-align: center;
  border-bottom: 1px solid #333;
  border-bottom-style: dashed;
  padding-bottom: 20px;
}
#redx {
   color: red;
   text-decoration: none;
   cursor: not-allowed;
}
#accessdeniedpara {
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  padding-bottom: 3%;
}
#accessdeniedlines {
  font-family: Arial;
  text-align: center;
  word-spacing: -1px;
  font-size: 10px;
  font-weight: normal;
  color: gray;
}
#gears {
  text-align: center;
  color: #333;
  width: 200px;
  margin: auto;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.85);
  /* opacity: 0.85; */
  padding: 30px 0px;
}


</style>
</th:block>


<body>

	<div layout:fragment="content">

        <ol class="breadcrumb pr-0 py-0 mb-2">
            <!--<li class="breadcrumb-item"><i class="icon-home"></i><i class="fa fa-home"></i> </li>-->
            <li class="breadcrumb-item"><i class="mdi mdi-file-document"></i>&nbsp;eFile </li>
            <li class="breadcrumb-item active text-primary">Shelf</li>
            <li class="breadcrumb-menu">
            </li>
            <li class="breadcrumb-menu pr-3 ">
                <div class="btn-group " role="group" aria-label="Basic example">

                    <button style="height: 35px;" type="button" class="btn bg-primary text-white" data-toggle="modal" data-target="#commonModal" _aria-haspopup="true"
                            _aria-expanded="false"  data-placement="top" title="Create new eFile"
                            th:attr="data-url=@{/efilesuite/createNoteFile}">
                        <i class="mdi mdi-file-plus"></i><span class="icon-btn-text">&nbsp; Create</span></button>

                    <!-- <button type="button" class="btn bg-transparent py-1 navbar-toggler aside-menu-toggler"><i class="icon-menu"></i></button>-->
                </div>
            </li>
        </ol>


		<div class="container-fluid">
			<div class="animated fadeIn">
				<div class="row">
					<div class="w-100">
					<span th:if="${additionalChargePost} == false">
					<th:block th:replace="fragments/layout :: eFileTabs" >

					</th:block>
						<div class="card  bg-transparent mb-0 card-shadow ">
							<div class="card-body py-0 bg-white"
								style="_min-height: calc(100vh - 130px);">

									<form name="transferFiles" id="transferFiles" method="post" th:action="@{/moveToShlef}">
									<th:block th:if="${statusMessage != null}">
							            <div th:replace="fragments/components :: alert (type='success', message=${statusMessage})">Alert</div>
							        </th:block>
									<div class="table-responsive " >
										<table border="1" id="eFileShelfFileTable"
											class="table table-bordered table-hover table-striped table-sm _mb-0"
											width="100%" cellspacing="0">
											<thead class="table-primary">
												<tr>
													<th>Action</th>
													<th>#</th>
													<th>File Number</th>
													<th>Received From</th>
													<th>Subject</th>
													<th>Created Date </th>
												</tr>
											</thead>
											<tbody th:if="${inboxFilesListCount} == false">
												<tr th:each="inboxFiles, sNo : ${inboxFilesList}">
													<td>
														<!--/* <a role="button" class="btn btn-info"
															th:href="@{'/moveToShlef/{notefileId}'(notefileId=${inboxFiles.id})}"> Shelf </a> */-->
														<input type="checkbox" name="notefileId"
															id="notefileId" th:value="${inboxFiles.id}" />
													</td>

													<td th:text="${sNo.count}"></td>
													<td><a role="button"
														th:href="@{'/efilesuite/editeFile/{currentNumber}'(currentNumber=${inboxFiles.notefileNumber})}">
															<p th:text="${inboxFiles.notefileNumber}"></p>
													</a></td>
													<td>
														<span  th:text="${inboxFiles.notefileReceivedFromPostMaster.postname}"></span>
														<span th:if="${inboxFiles.notefileReceivedFromPostMaster.employeeMaster}!=null">
															(<span th:text="${inboxFiles.notefileReceivedFromPostMaster.employeeMaster.employeefirstname}"></span>
																<span th:text="${inboxFiles.notefileReceivedFromPostMaster.employeeMaster.employeelastname}"></span>
															)
														</span>
														<span th:if="${inboxFiles.notefileReceivedFromPostMaster.employeeMaster}==null">
															(N/A)
														</span>
													</td>
													<td th:text="${inboxFiles.subject}"></td>
													<td th:text="${#dates.format(inboxFiles.createdDate,'dd/MM/yyyy hh:mm a')}"></td>

												</tr>

											</tbody>
										</table>
									</div>
									<div class="form-group col-md-6 mb-0" >
										<div class="form-row" >
											<button class="btn btn-primary"
													onclick="javascript:return validateData();">Shelf</button>
										</div>
									</div>
								<!-- table-responsive px-3-->
								</form>
							</div>
							<!-- .card-block-->

						</div>
						<!--  main > .w-100 >.card -->
						</span>
						<span th:if="${additionalChargePost} == true">
						<div class="card  bg-transparent mb-0 card-shadow ">
							<div class="card-body py-0 bg-white"
								style="_min-height: calc(100vh - 130px);">
								<div id="accesdenied">
							   		 <h6 id="accessdeniedhead" ><spam id="redx">X</spam> Access Denied </h6>
							    	<p id="accessdeniedpara" >Your files given to some other post<br/><br/>
							   	 <small id="accessdeniedlines">---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</small></p>
							 	</div>
							 </div>
						</div>
						</span>
					</div>
					<!-- main > .w-100 -->
				</div>
				<!-- main > .row -->
			</div>
			<!-- main > .animated.fadeIn -->
		</div>
		<!-- main > .container-fluid -->
	</div>
	<!-- FRAGMENT: "content" -->


	<th:block layout:fragment="scripts">
        <script>
        function validateData() {
    		// 		var noteFileList=$("#notefilesDetails").val();
    		/* var selectedValues = "";
    		$("[id*=notefilesDetails] input:checked").each(function () {
    			alert("hi")
    		    if (selectedValues == "") {
    		        selectedValues = "Selected Values:\r\n\r\n";
    		    }
    		    selectedValues += $(this).val() + "\r\n";

    		});
    		alert(selectedValues) */
    		var checkBoxValues = [];
    		$.each($("input[name='notefileId']:checked"), function() {
    			checkBoxValues.push($(this).val());
    		});
    		if (checkBoxValues.length == 0) {
    			alert("Please select at least one file to transfer");
    			$("#notefileId").focus();
    			return false;
    		}else{
	    		return true;
    		}
    	}




			$(document).ready(function() {
				var table = $('#eFileShelfFileTable').DataTable({
				    language: {
				        search: "_INPUT_",
                        searchPlaceholder: "Search...",
                        "lengthMenu": "_MENU_",
                     paginate: {
                            previous: '<i class="fa fa-chevron-left"></i>',
                            next:     '<i class="fa fa-chevron-right"></i>'
                        },
                        aria: {
                            paginate: {
                                previous: 'Previous',
                                next:     'Next'
                            }
                        }
                     },
				     "dom":"<'wrapper top'<'row'<'col-sm-4'i><'col-sm-8 d-flex  justify-content-end 'fBl>>>t<'wrapper bottom'<'row'<'col-sm-4'i><'col-sm-8 d-flex  justify-content-end 'p>>>",
					responsive: {
                        details: {
                            type: 'column',
                            target: 'tr'
                        }
                    },
					paging: true,
					"pagingType": "full_numbers",
					lengthChange: true,
					"lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
					//"lengthMenu": [ [-1, 10, 25, 50 ], ["All", 10, 25, 50 ] ],
					columns: [
						{ width:'1%', targets: 0 },
	                    { width: '1%', targets: 1 },
	                    { _width:'30%', targets: 2 },
	                    { _width: '25%', targets: 3, className: "px-1" },
	                    { _width: '16%', targets: 4, className: "px-1" },
	                    { _width: '16%', targets: 4, className: "px-1" }



					],
					order: [ 0, 'asc' ],
					buttons: [
                        {
                            extend:    'copyHtml5',
                            text:      '<i class="fa fa-files-o"></i>',
                            titleAttr: 'Copy'
                        },
                        {
                            extend:    'excelHtml5',
                            text:      '<i class="fa fa-file-excel-o"></i>',
                            titleAttr: 'Excel'
                        },
                        {
                            extend:    'csvHtml5',
                            text:      '<i class="fa fa-file-text-o"></i>',
                            titleAttr: 'CSV'
                        },
                        {
                            extend:    'pdfHtml5',
                            text:      '<i class="fa fa-file-pdf-o"></i>',
                            titleAttr: 'PDF'
                        }
                    ]
				});

                $('table').on('click','.actionSwitch', function(e){
                    var $this = $(this);
                    var $input = $this.find('.switch-input');
                    var message = $input.prop("checked") ? "Do you want to Disable?" : "Do you want to Enable?";
                    e.preventDefault();
                    e.stopPropagation();
                    bootbox.confirm({
                        message: message,
                        buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-primary'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-outline-primary'
                            }
                        },
                        callback: function (result) {
                            var context = "[[@{/}]]";
                            var isChecked = $input.prop("checked")
                            var url = isChecked ? "disableEmployee" : "enableEmployee";
                            var id = $this.data('id');
                            console.log('This was logged in the callback: ' + result);
                            if(result){
                                $.get(context + url + '/' + id + '/' , function(){
                                    $input.prop('checked',!isChecked);
                                });
                            }
                        }
                    });
                });

                $(".dataTables_length select").removeClass("form-control form-control-sm").addClass("custom-select custom-select-sm");

			});

			$("#eFileShelfLink").addClass("active");
		</script>
    </th:block>
</body>
</html>
