<!DOCTYPE html>
<html layout:decorator="layouts/main">

<head>
	<title _th:text="#{view.index.title}">Welcome!</title>
</head>
	<th:block layout:fragment="links">
		<link rel="stylesheet" href="../../../resources/vendors/billboard/billboard.css" th:href="@{/resources/vendors/billboard/billboard.css}">

    </th:block>



<body class="app header-fixed sidebar-fixed sidebar-minimized aside-menu-fixed _aside-menu-off-canvas aside-menu-hidden">
	<div layout:fragment="content">

		<ol class="breadcrumb">
			<li class="breadcrumb-item active"><!-- <i class="icon-speedometer"></i> -->  Dashboard</li>
		</ol>
		<div class="container-fluid">
			<div class="animated fadeIn">

				
				<!--/.row-->

				

		</div>




		<!-- /.conainer-fluid -->
	</div>
	</div>
	<!-- main-fragment-->


	<th:block layout:fragment="scripts">
		<script type="text/javascript" src="../../../resources/js/jquery-ui.min.js" th:src="@{/resources/js/jquery-ui.min.js}"></script>
		<!-- Load D3.js -->
	<script src="https://d3js.org/d3.v4.min.js"></script>

	<!-- Load billboard.js with style -->
	<script type="text/javascript" src="../../../resources/vendors/billboard/billboard.js" th:src="@{/resources/vendors/billboard/billboard.js}"></script>
	<!-- <script src="billboard.js"></script> -->
		



	</th:block>
</body>

</html>
